@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

/* GENERAL - COLORS, SETTING THE WHOLE PAGE TO USE FLEX, ETC*/
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero, .footer {
    background-color: #1f2937;
    font-size: 24px;
}

.quote {
    background-color: #e5e7eb
}

button, .calltoaction {
    background-color: #3882f6;
    color: #f9faf8;
    border-color: #3882f6;
    border-style: solid;
}

button {
    padding: 6px 24px;
    border-radius: 8px;
    border-color: #e5e7eb;
    border-style: solid;
}

ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

h1 {
    margin: 0;
}


/* HERO SECTION */
.hero {
    color: #e5e7eb;
    padding: 0 100px 100px;
}

.header {
    color: #f9faf8;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    font-size: 18px;
    font-weight: 400;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 32px 0;
}

.intro h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.intro button {
    border: 0;
}

.intro img {
    max-width: 520px;
}

.intro p {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* INFORMATION SECTION */
.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
}

.info h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 24px;
    margin: 24px;
}

.illust {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 220px;
}

.illust img {
    border-radius: 12px;
    border-color: #3882f6;
    border-style: solid;
    border-width: 4px;
    object-fit: cover;
    height: 100%;
    width: 220px;
}

/* QUOTE SECTION */

.quote {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 100px 15%;
}

.quote h1 {
    font-size: 36px;
    font-style: italic; 
    font-weight: 300;
}

.quote p {
    font-weight: 900;
    color: #1f2937;
}

/* CALL TO ACTION */

.calltoaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px;
    padding: 24px 64px;
    border-radius: 8px;
}

.calltoaction h1 {
    font-size: 24px;
}

.calltoaction p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #e5e7eb;
}